.product {
  margin-top: 8rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__search {
    width: 32rem;
    & .input {
      width: 100%;
    }
  }
  &__dropdown {
    width: 32rem;
    &__select {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    padding: 0 3.2rem;
    &__search {
      width: 47.5%;
      & .input {
        width: 100%;
      }
    }
    &__dropdown {
      width: 47.5%;
      & .select {
        width: 100%;
      }
    }
    justify-content: space-between;
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    margin-top: 2.4rem;
    padding: 3.2rem;
  }
}

.shelf {
  margin-top: 3.2rem;
  margin-bottom: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 102%;
  & .heading-2 {
    margin-bottom: 4.8rem;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
    // justify-content: space-between;
    &__item {
      width: 23%;
      border: 0.1rem solid $color-grey-seven;
      border-radius: 0.5rem;
      padding: 0 2.4rem;
      margin-bottom: 2.4rem;
      margin-left: 0%;
      margin-right: 2%;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      &__title {
        margin-top: 1.6rem;
      }
      &__text {
        font-weight: 300;
        width: 90%;
        color: $color-grey-six;
      }
      &__img {
        margin-top: 4rem;
        // margin: 0 auto;
        align-items: center;
      }
      &__group {
        margin: 3.2rem 0 2.4rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .paragraph {
          font-weight: 500;
        }
        & .btn {
          -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    margin-bottom: 8rem;
    padding: 3.2rem;
    &__row {
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        margin-bottom: 4rem;
        // margin: 0 auto;
        &__img {
          width: 65%;
          margin: 0 auto;
        }

        &__title {
          font-size: 1.6rem;
          font-weight: 500;
        }

        &__text {
          width: 100%;
          font-size: 1.4rem;
          text-align: center;
          width: 70%;
        }
        &__group {
          margin-top: 2.4rem;
          flex-direction: column;
          align-items: center;
          & > * {
            &:not(:last-child) {
              margin-bottom: 1.6rem;
            }
          }
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 375px) {
    &__row {
      &__item {
        width: 100%;
        &__img {
          height: unset;
          width: 70%;
          margin: 0 auto;
        }
        &__text {
          text-align: center;
          width: 70%;
        }
        &__group {
          align-items: center;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding: 0 6.4rem;
    width: 100%;
    &__row {
      justify-content: space-between;
      &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        margin-bottom: 4rem;
        margin-right: 0;
        margin-left: 0;
        &__img {
          width: 65%;
          margin: 0 auto;
        }

        &__title {
          font-size: 1.6rem;
          font-weight: 500;
        }

        &__text {
          width: 100%;
          font-size: 1.4rem;
          text-align: center;
          width: 70%;
        }
        &__group {
          margin-top: 2.4rem;
          flex-direction: column;
          align-items: center;
          & > * {
            &:not(:last-child) {
              margin-bottom: 1.6rem;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1024px) and (max-width: 1366px) {
    width: 102%;
    &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: unset;
      &__item {
        width: 23%;
        border: 0.1rem solid $color-grey-seven;
        border-radius: 0.5rem;
        padding: 0 2.4rem;
        margin-bottom: 2.4rem;
        margin-left: 0%;
        margin-right: 2%;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
