.order {
  display: flex;
  justify-content: center;
  width: 100%;

  &__page {
    width: 56rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    & .paragraph {
      color: $color-grey-five;
    }
    & .input {
      margin-top: 2.1rem;
      margin-bottom: 1.7rem;
      background-color: $color-white;
      border: 0.1rem solid $color-grey-two;
    }
    &__group {
      width: 100%;
      margin-top: 5.6rem;
      & .active {
        border: 0.3rem solid $color-grey-sixteen;
        border-radius: 2rem;
        cursor: pointer;
      }
      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem;
        margin-bottom: 3.6rem;

        &__text {
          width: 65%;
          & .paragraph {
            color: $color-grey-five;
          }
          & .heading-4 {
            font-weight: 500;
          }
        }
        &__arrow {
          width: 2.3rem;
          height: 1.8rem;
        }
      }
    }
  }

  @media (min-width: 320px) and (max-width: 576px) {
    flex-direction: column;
    padding: 3.2rem;
    &__page {
      width: 100%;
      &__group {
        &__item {
          margin-bottom: 1.6rem;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1024px) {
    padding-right: 6.4rem;
    padding-left: 6.4rem;
    flex-direction: column;
    &__page {
      flex-direction: column;
      width: 100%;
    }
  }
}

.order__two {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
